// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teammate {
  .photo {
    text-align: center;
    width: 218px !important;
    height: 145px !important;
    object-fit: cover !important;
    img{
      width: 100% !important;
      height: 100% !important;
    }
    img.default-picture {
      padding: 5px;
      width: 128px !important;
      height: 128px !important;
    }
  }
}

.default-destination-picture{
  width: 500px;
  height: 330px;
  padding: 20px;
  background-image: asset_url('earth_big.png');
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: center;
}

.weather {
  li {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: 5px;
    padding-left: 25px !important;
  }
  li.summer {
    background-image: asset_url('summer.png');
  }
  li.autumm {
    background-image: asset_url('autumm.png');
  }
  li.winter {
    background-image: asset_url('winter.png');
  }
  li.spring {
    background-image: asset_url('spring1.png');
  }
}
