.item-with-picture {
  .image {
    text-align: center;
    width: 100% !important;
    height: 145px !important;
    object-fit: cover !important;
    img{
      width: 100% !important;
      height: 100% !important;
    }
    img.default-picture {
      padding: 5px;
      width: 128px !important;
      height: 128px !important;
    }
  }
}

.strong {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

.footer_title_footer {
  height:20px;
  margin-bottom: 5px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-bottom:0px;
  h1 {
    font-size:15px;
    color:#777;
  }
}

.locales-selector {
  overflow:hidden;
  display:inline;
  float:right;
  padding: 2px 0px 1px 0;
  margin-top:10px;
}
.locales-selector a {
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin: 0 0 0px 5px;
}
.footer-social a:first-child {
  margin: 0 0 0 0;
}
.footer-social a:hover img {
  width:38px;
  height:38px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

